/* .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 30px;
    
  }
  .card {
    flex: 0 0 300px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  }
  .card img {
    max-width: 100%;
  }
  .card .text {
    padding: 0 20px 20px;
  }
  .card .text > button {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
  }
  
  .main-title {
    text-align: center;
  }
  
  .team-title {
    text-align: center;
  }
  
  p {
    margin-top: 15px;
    margin-bottom: 15px;
  } */