* {
  font-family: Poppins;
  padding: 0px;
  margin: 0px;
}

.container {
    text-align: center;
    padding-top: 2rem;
}

.title-Main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem;
  background-color: rgba(235,235,235);
  width: 350.71px;
  height: 99.8px;
  top: 109px;
  left: 427px;
  margin: auto;
  border: 2.35753px solid #283342;
}

.title-Container {
  display: inline;
  border: 2.36px, solid, black;
  order: 2;
}

.image-Container {
  padding-right: 10px;
}

.formContainer {
    background-color: rgba(36,45,58);
    width: 350.71px;
    height: 250px;
    top: 109px;
    left: 427px;
    margin: auto;
    color: white;
    border: 2.35753px solid #283342;
}
.error-msg {
    color: red;
}

.emailInput {
    width: 250.28px;
    height: 25.08px;
    left: 442.72px;
    top: 298px;
    background: linear-gradient(0deg, #EEEEEE, #EEEEEE), #C4C4C4;
    border: 0.785844px solid #000000;
    box-sizing: border-box;
    box-shadow: inset 0px 3.14338px 3.14338px rgba(0, 0, 0, 0.25);
    margin: 10px;
    padding: 15px 0px 15px 10px;
    }

.emailInput::placeholder, .passwordInput::placeholder {
  font-style: italic;
  padding: 5px;
}

.passwordInput {
    width: 250.28px;
    height: 25.08px;
    left: 442.72px;
    top: 298px;
    background: linear-gradient(0deg, #EEEEEE, #EEEEEE), #C4C4C4;
    border: 0.785844px solid #000000;
    box-sizing: border-box;
    box-shadow: inset 0px 3.14338px 3.14338px rgba(0, 0, 0, 0.25);
    margin: 10px;
    padding: 15px 0px 15px 10px;
}

.enterButton {
    width: 100.88px;
    height: 20.5px;
    left: 581px;
    top: 456px;
    background: #C4C4C4;
    border: 0.785844px solid #000000;
    box-sizing: border-box;
    border-radius: 5.50091px;
    margin-top: 10px;

}

.a-tag {
    color: white;
}

.a-tag:link{
    color: white;
}

.name{
  width: 200.28px;
  height: 25.08px;
  left: 442.72px;
  top: 298px;
  background: linear-gradient(0deg, #EEEEEE, #EEEEEE), #C4C4C4;
  border: 0.785844px solid #000000;
  box-sizing: border-box;
  box-shadow: inset 0px 3.14338px 3.14338px rgba(0, 0, 0, 0.25);
}

.confirmation {
  width: 200.28px;
  height: 25.08px;
  left: 442.72px;
  top: 298px;
  background: linear-gradient(0deg, #EEEEEE, #EEEEEE), #C4C4C4;
  border: 0.785844px solid #000000;
  box-sizing: border-box;
  box-shadow: inset 0px 3.14338px 3.14338px rgba(0, 0, 0, 0.25);
}

.sign-in {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 24px;
}