body {
    font-family: Poppins;
    background: #E5E5E5
  }

.container {
    margin-top: 50px;
}

.title-Main {
    display: flex;
    flex-direction: row;
}

.title-Container {
    display: inline;
    border: 2.36px, solid, black;
    order: 2;
}

.form-Container {
    margin: auto;
    width: 50%;
    padding: 10px;
    border: 1px solid black;
    background-color: rgba(40, 51, 66, 1);
    color: white;
}

.sign-in {
    text-align: center;
}


.form-group::placeholder {
    color: red;
}

.btn {
    justify-content: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.a-tag:link, .a-tag:visited {
    color: white;
    text-decoration: none;
}

.a-tag:active, .a-tag:hover {
    color: white;
    text-decoration: underline;
}