* {
    font-family: Poppins;
    padding: 0px;
    margin: 0px;
    background-color: C4C4C4;
  }
.profileName {
    margin: 10px;
}

.image-container {
    border: 2px solid black;
    width: 304px;
    height: 304px;
    margin: auto;
}





.uploadAvatar {
    font-size: 16px;
    margin: 10px;
}

.submitButton {
    width: 100.88px;
    height: 20.5px;
    left: 581px;
    top: 456px;
    background: #C4C4C4;
    border: 0.785844px solid #000000;
    box-sizing: border-box;
    border-radius: 5.50091px;
    margin-top: 10px;
}

.formProfileContainer {
    background-color: rgba(36,45,58);
    width: 426.71px;
    height: 500px;
    top: 109px;
    left: 427px;
    margin: auto;
    color: white;
    border: 2.35753px solid #283342;
}