@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.uploadAvatar {
    font-size: 16px;
    margin: 5px;
}
.submitButton {
    width: 150px;
    height: 50px;
    left: 581px;
    top: 456px;
    color: white;
    background: #283342;
    border: 0.785844px solid #eff1f4;
    box-sizing: border-box;
    border-radius: 5.50091px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 30px;
}

.comingSoon {
    padding: 20px;
}

.emailAddress {
    padding: 10px;
}

.img {
    border-radius: 50%;
  }

  .name {
      text-align: left;
  }

.spacing {
    margin-top: 50px;
}