* {
    font-family: Poppins;
    padding: 0px;
    margin: 0px;
}

.title-MainRegister {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    background-color: rgba(235,235,235);
    width: 350.71px;
    height: 99.8px;
    top: 109px;
    left: 427px;
    margin: auto;
    border: 2.35753px solid #283342;
  }

.formRegisterContainer {
    background-color: rgba(36,45,58);
    width: 350.71px;
    height: 380px;
    top: 109px;
    left: 427px;
    margin: auto;
    color: white;
    border: 2.35753px solid #283342;
}

.emailInputRegister::placeholder, .nameInputRegister::placeholder, .passwordInputRegister::placeholder, .passwordInputConfirmationRegister::placeHolder {
    font-style: italic;
}

.emailInputRegister {
    width: 250.28px;
    height: 25.08px;
    left: 442.72px;
    top: 298px;
    background: linear-gradient(0deg, #EEEEEE, #EEEEEE), #C4C4C4;
    border: 0.785844px solid #000000;
    box-sizing: border-box;
    box-shadow: inset 0px 3.14338px 3.14338px rgba(0, 0, 0, 0.25);
    margin: 10px;
    padding: 15px 0px 15px 10px;
}

.nameInputRegister {
    width: 250.28px;
    height: 25.08px;
    left: 442.72px;
    top: 298px;
    background: linear-gradient(0deg, #EEEEEE, #EEEEEE), #C4C4C4;
    border: 0.785844px solid #000000;
    box-sizing: border-box;
    box-shadow: inset 0px 3.14338px 3.14338px rgba(0, 0, 0, 0.25);
    margin: 10px;
    padding: 15px 0px 15px 10px;
}
.passwordInputRegister {
    width: 250.28px;
    height: 25.08px;
    left: 442.72px;
    top: 298px;
    background: linear-gradient(0deg, #EEEEEE, #EEEEEE), #C4C4C4;
    border: 0.785844px solid #000000;
    box-sizing: border-box;
    box-shadow: inset 0px 3.14338px 3.14338px rgba(0, 0, 0, 0.25);
    margin: 10px;
    padding: 15px 0px 15px 10px;
}
.passwordInputConfirmationRegister {
    width: 250.28px;
    height: 25.08px;
    left: 440;
    top: 298px;
    background: linear-gradient(0deg, #EEEEEE, #EEEEEE), #C4C4C4;
    border: 0.785844px solid #000000;
    box-sizing: border-box;
    box-shadow: inset 0px 3.14338px 3.14338px rgba(0, 0, 0, 0.25);
    margin: 10px;
    padding: 15px 0px 15px 10px;
}

.enterButtonRegister {
    width: 100.88px;
    height: 20.5px;
    left: 581px;
    top: 456px;
    background: #C4C4C4;
    border: 0.785844px solid #000000;
    box-sizing: border-box;
    border-radius: 5.50091px;
    margin-top: 25px;
}