@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Poppins&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.category-container{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;

}

.category-div{
  background-color: #C4C4C4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 100px;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.deck-div{
  background-color: #C4C4C4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 10px;
  gap: 5px;
  /* align-items: flex-start; */
  width: 250px;
  height: 100px;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.category-div:hover{
  background-color: #aab6a8;
 
}
.category-div:active{
  background-color: #519e58;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);


 
}

.category-text{
  text-decoration: none;
  color: white;
  margin: 0 0 0 0;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
  font-weight: 500;
  font-size: 18px;
}
.category-text-small{
  color: white;
  margin: 0 0 0 0;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
  font-weight: 500;
  font-size: 13px;
  text-decoration: none;
}
.center {
  text-align: center;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
}

.create-container-main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.create-container-left{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
  margin-top: 20px;
}
.create-container-right{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-right: 20px;
}
.create-card-div{
  background-color: #C4C4C4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 400px;
  padding: 50px 20px 50px 20px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px 20px 20px 0px;
}
.create-question-input{
  height: 50px;
  width: 350px;
  text-align: center;
  font-style: italic;
}
.create-answer-input{
  height: 25px;
  width: 350px;
  text-align: center;
  font-style: italic;
}
.add-card{
  background-color: #A6DF83;
  border-radius: 5px;
  filter: drop-shadow(0px 3.14338px 3.14338px rgba(0, 0, 0, 0.25));
  width: 125px;
}
.submit-deck{
  background-color: #A6DF83;
  border-radius: 10px;
  filter: drop-shadow(0px 4.0078px 4.0078px rgba(0, 0, 0, 0.25));
  height: 50px;
  width: 225px;
  font-size: 24px;
  order: -1;
  margin-top: 20px;
}


.selectDifferentName {
  color: red;
  padding-left: 29rem;
  margin: 10px;
}

.createFormContainer {
  background-color: rgba(36,45,58);
  margin: auto;
  position: static;

}

.createLabel {
  font-size: 24px;
  color: white;
}